.uploaded-img {
    width: 640px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    cursor: pointer;

    .div-area {
        height: 100%;
        width: 100%;
        border: solid 1px white;
        
        &.selected {
            opacity: 0.3;
            background-color: black;
        }
    }
}